// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #333333;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.description-container {
  display: flex;
  width: 600px;
  height: auto;
  text-align: center;
  align-self: center;
  flex-direction: column;

  p {
    color: #ebebeb;
    margin: 10px;
  }
}

.radio-group {
  width: 100vw;
  margin: 10px;
  padding: 20px;
}

label {
  color: #ebebeb;
}

.radio-group {
  .selected {
    color: white;
  }
}

